.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}
.card-btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  border: none;
  bottom: 50%;
  color: #FFF;
  font-size: 24px;
  cursor: pointer;
  font-family: FontAwesome;
  outline: none;
}
.cardTitle{
text-align: center;
margin-top: 20px;
}
.left {
  left: 2%;
  background: grey;
}

.left::after {
  content: "\f053";
}

.right {
  right: 2%;
  background: grey;
}

.right::after {
  content: "\f054";
}

.right:hover::after, .left:hover::after {
  animation: iconBounce .57s 1;
}

@keyframes iconBounce {
  0% {
    font-size: 24px;
  }
  
   50% {
    font-size: 35px;
  }
  
  100% {
    font-size: 24px;
  }

}
@media only screen and (max-width: 768px) {
  .cardContainer {
    display: none;
  }
  .card{
    display: block;
    color: whitesmoke;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 6px solid white;
    height: 450px;
    width: 450px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23);
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
  }
}