.footer {
  min-height: 50px;
  width: 100%;
  background: #E5E5E5;
  position: -webkit-sticky;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  position:relative;
  margin: 0 auto;  
  padding-top: 5px;
  padding: 2px;
  background: #B8B8B8;
}
