.card-btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  border: none;
  bottom: 50%;
  color: #FFF;
  font-size: 24px;
  cursor: pointer;
  font-family: FontAwesome;
  outline: none;
}

.previous {
  left: 1%;
  background: lightgray;
}

.previous::after {
  content: "\f053";
}

.next {
  right: 1%;
  background: lightgray;
}

.next::after {
  content: "\f054";
}

.next:hover::after, .previous:hover::after {
  animation: iconBounce .57s 1;
}

@keyframes iconBounce {
  0% {
    font-size: 24px;
  }
  
   50% {
    font-size: 28px;
  }
  
  100% {
    font-size: 24px;
  }

}